@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  // overflow-x: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
/* Active highlight on navButton */
.active {
  color: #e95e30;
}

/* Card styles blog archive */
.card .imageDataContainer,
.cardArchive .imageDataContainer {
  @apply relative;
}
.cardArchive {
  @apply relative
  h-[217px]
  w-[261px]
  overflow-hidden
  shadow-lg;
  @screen lg {
    // @media (max-width: 479px) {
    @apply 
      w-[45vw];
    // }
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply h-[160px];
    }
  }
}
.cardArchive .imageDataContainer {
  @apply h-[72px]
  w-full;
  @screen lg {
    @apply h-[75px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply h-[45px];
    }
  }
}
.cardArchive .imageDataContainer .categoryCreationDate {
  @apply absolute
  w-full
  flex 
  justify-between
  bottom-0
  px-[16px]
  pb-[8px];
  @screen lg {
    @apply px-[12px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply px-[8px];
    }
  }
}
.cardArchive .imageDataContainer .categoryCreationDate h3 {
  @apply text-[8px]
  italic
  text-light
  tracking-[0]
  leading-[10px];
  @screen sm {
    @media (max-width: 479px) {
      @apply text-[6px];
    }
  }
}
.cardArchive .titleContentContainer {
  @apply h-[113px]
  mx-[16px]
  my-[16px];
  @screen lg {
    @apply h-[85px]
    mx-[12px]
    my-[12px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply h-[75px]
      mx-[6px]
      my-[6px];
    }
  }
}
.cardArchive .titleContentContainer h1 {
  @apply text-blogHeading
  text-[24px]
  font-bold
  tracking-[0]
  leading-[29px];
  @screen lg {
    @apply text-[20px]
    leading-[15px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply text-[14px];
    }
  }
}
.cardArchive .titleContentContainer p {
  @apply mt-[8px]
  text-blogText
  text-[12px]
  tracking-[0]
  leading-[19px];
  @screen lg {
    @apply mt-[6px]
    leading-[16px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply mt-[4px]
      text-[10px]
      leading-[12px];
    }
  }
}
/////
/* Pagination styles blog archive */
.pagination {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 96px;
  // margin-bottom: 96px;
  @screen lg {
    // @media (max-width: 479px) {
      @apply mb-[10rem] mx-2;
    // }
  }
}
.pagination li a {
  color: #313131;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 13px;
  margin: 5px 0px;
  padding: 5px 12px;
  cursor: pointer;
  @screen sm {
    @media (max-width: 479px) {
      @apply leading-[5px]
      my-[0px] py-[0px] px-[5px];
    }
  }
}
.pagination li a:hover {
  color: #e95e30;
  transition: 350ms ease-in-out;
}
.pagination li.next a {
  color: #f27623;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19px;
  margin-left: 24px;
  margin-top: 3px;
  margin-bottom: 3px;
  @screen sm {
    @media (max-width: 479px) {
      @apply leading-[5px]
      ml-[16px] py-[0px];
    }
  }
}
.pagination li.active a {
  color: #383838;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  height: 25px;
  width: 34px;
  border: 1px solid transparent;
  border-radius: 13px;
  padding: 4px 12px;
  background-color: #e7e7e7;
}
/////
/* Card styles blog posts & blog archive */
.card {
  @apply relative 
  h-[217px]
  w-[285px]
  overflow-hidden
  shadow-lg;
  @screen lg {
    // @media (max-width: 479px) {
    @apply 
      w-[45vw];
    // }
  }
  @screen sm {
    @apply h-[160px];
  }
}
.card .imageDataContainer {
  @apply h-[72px]
  w-full;
  @screen lg {
    @apply h-[75px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply h-[45px];
    }
  }
}
.card .imageDataContainer .categoryCreationDate {
  @apply absolute
  w-full
  flex 
  justify-between
  bottom-0
  px-[16px]
  pb-[8px];
  @screen lg {
    @apply px-[12px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply px-[8px];
    }
  }
}
.card .imageDataContainer .categoryCreationDate h3 {
  @apply text-[8px]
  italic
  text-light
  tracking-[0]
  leading-[10px];
  @screen sm {
    @media (max-width: 479px) {
      @apply text-[6px];
    }
  }
}
.card .titleContentContainer {
  @apply h-[113px]
  mx-[16px]
  my-[16px];
  @screen lg {
    @apply h-[85px]
    mx-[12px]
    my-[12px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply h-[75px]
      mx-[6px]
      my-[6px];
    }
  }
}
.card .titleContentContainer h1 {
  @apply text-blogHeading
  text-[24px]
  font-bold
  tracking-[0]
  leading-[29px];
  @screen lg {
    @apply text-[20px]
    leading-[15px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply text-[14px];
    }
  }
}
.card .titleContentContainer p {
  @apply mt-[8px]
  text-blogText
  text-[12px]
  tracking-[0]
  leading-[19px];
  @screen lg {
    @apply mt-[6px]
    leading-[16px];
  }
  @screen sm {
    @media (max-width: 479px) {
      @apply mt-[4px]
      text-[10px]
      leading-[12px];
    }
  }
}

/* CSS for Loader Spinner */
.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
